<div class="col-sm-4 sidenav">
	<h1 class="text">categories</h1>

{%for category in categories%}
    <a class="" href="{{url_for('ShowCategoryItems',category_name=category.name)}}">
		<button type="button" class="btn-link">
			<span>
			 <li class="subtext">{{category.name}}  </li>
			</span>

		</button>
	</a>
<br>
<br>
{% endfor %}
	<a class="" href="{{url_for('NewCategory')}}">
        <button type="button" class="btn btn-success btn-sm">
          <span class="glyphicon glyphicon-plus"></span> New Category
        </button>
    </a>
</div>
