


{% extends "index.html" %}
{% block content %}
<div>
	<h1 class="center text mid"> Create New Category </h1>
</div>
<br> <br>
<form class="form-inline center" action={{url_for('NewCategory')}} method="post">
   <div class="form-group">
      <label class="sr-only" for="name">name:</label>
    <input name="name" type="text" placeholder=' Enter name'>
    </div>

	<button type="submit" class="btn btn-success but" id="" type="submit">
        <span class="" aria-hidden="true"></span>Create
    </button>
</form>
<br>
{%if error%}
<h4 class="center text mid"> {{error}} </h4>

{%endif%}
{%endblock%}



