

{% extends "index.html" %}
{% block content %}

{%if error %}
    <h4 class="center text mid"> {{error}}</h4>
{%endif%}

{%if not error%}
<div>
    <h1 class="center text mid"> {{category.name}} </h1>
</div>
<br> <br>
<form class="form-inline center" action="{{ url_for('NewItem',category_name=category.name  )}}"method="post">
   <div class="form-group">
      <label class="subtext" for="name">name: </label>
    <input name="name" type="text" placeholder=' Enter name'>
    </div>
    <br> <br>
    <div class="form-group">
      <label class="subtext" for="description">description:</label>
    <input name="description" type="text" placeholder=' Enter description'>
    </div>
    <br> <br>
 <button type="submit" class="btn btn-success but" id="" type="submit">
        <span class="" aria-hidden="true"></span>Create
    </button>
</form>
{%endif%}
{%if empty%}
    <h4 class="center text mid"> {{empty}}</h4>
{%endif%}
{%endblock%}





