
{% extends "index.html" %}
{% block content %}

{% include "category.html" %}

<div class="col-sm-7 column">
{%if not notexisting%}

	<h1  class="text">{{category.name}}</h1>
	<p class="col-sm-6">
    	{%for item in items%}
    		  <a class="" href="{{url_for('ShowItem',category_name=category.name,item_name=item.name)}}">
		<button type="button" class="btn-link">
			<span>
			 <li class="subtext">{{item.name}}  </li>
			</span>

		</button>
	</a>
    	<br>
    	{%endfor%}
	</p>
{%endif%}

{%if notexisting %}
<br>
<br>
	<h3 class="min error">{{ notexisting }} </h3>
{%endif%}

</div>
{%endblock%}


